### 연산자

##### 산술 연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

In [1]:
5 + 1

6

In [2]:
5 - 1

4

In [4]:
5 * 2

10

In [5]:
5 / 2

2.5

In [6]:
5 % 2

1

In [7]:
5 // 2

2

In [8]:
5 ** 2

25

##### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [10]:
5 > 2

True

In [11]:
5 <= 2

False

##### 논리 연산자
- and : 논리곱
- or : 논리합
- not : 논리부정

In [13]:
True and True

True

In [14]:
(5 > 2) and (5 <= 2)

False

In [16]:
True or False

True

In [19]:
not True

False

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [23]:
variable = 10
print(variable)

10

In [24]:
variable = True

In [25]:
#variable = 0.13
variable = 1.3
variable

1.3

### 데이터 타입
- 정수형
- 실수형
- 논리형
- 문자열

In [26]:
type(10)

int

In [27]:
type(True)

bool

In [28]:
type('문자열')

str

In [29]:
type(10.0)

float

### 데이터타입 반환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 반환
- bool() : 특정 데이터를 논리형으로 반환
- str() : 특정 데이터를 문자열로 반환

In [30]:
int(10.34)

10

In [31]:
int(True)

1

In [32]:
int(False)

0

In [33]:
int('10.4')

ValueError: invalid literal for int() with base 10: '10.4'

In [34]:
float(10)

10.0

In [35]:
float(1.0)

1.0

### NaN, Inf
- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [36]:
float('NaN')

nan

In [37]:
float('Inf')

inf

In [38]:
float('-Inf')

-inf

### 대입 연산자
- '=' : 좌항에 우항을 대임
- '+=' : 좌항에 좌항값에 우항을 더한 값을 대입
- '-=' : 좌항에 좌항값에 우항을 뺀 값을 대입
- '*=' : 좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' : 좌항에 좌항값에 우항을 나눈 값을 대입
- '**=' : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- '//=' : 좌항에 좌항값에 우항을 나눈몫 값을 대입

##### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶다면 
변수 += 1 or 변수 -= 1

In [49]:
variable = 10

In [50]:
variable += 3
variable

13

In [51]:
variable **= 2
variable

169

### 문자열
- 출력 : print() 함수로 문자열 출력
- 문자열 연산자 : + 연결, * 반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결해야함
- 문자열 : ' 혹은 " 로 묶어서 표현, \n 으로 줄바꿈 가능
- 여러줄의 문자열 : ''' 혹은 """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포맷을 만들어 사용 가능

In [52]:
print('문자열')

문자열

In [62]:
string1 = '문자열1'
print(string1, end='')
string2 = '문자열2'
print(string2)

문자열1문자열2

In [ ]:
print(string1, string2)

In [59]:
print(string1 + string2)

문자열1문자열2

In [63]:
string1 * 5

'문자열1문자열1문자열1문자열1문자열1'

In [65]:
integer = 10

In [67]:
string1 + str(integer) + string2

'문자열110문자열2'

In [68]:
print('안녕하세요\n반갑습니다')

안녕하세요
반갑습니다

In [70]:
statement = '''안녕하세요
반갑습니다
'''
print(statement)

안녕하세요
반갑습니다

In [71]:
date = '2024-12-25'
date = date.replace('-', '.')
date

'2024.12.25'

In [75]:
name = '이성계'
age = 56

print(str(name) + '의 나이는 ' + str(age) + '입니다.')
print(f'{name}의 나이는 {age}입니다.')

이성계의 나이는 56입니다.
이성계의 나이는 56입니다.

In [76]:
f'{'abcd':>20}'

'                abcd'

In [77]:
f'{'abcd':0>20}'

'0000000000000000abcd'

In [78]:
f'{'abcd':0^20}'

'00000000abcd00000000'

In [85]:
f'{2345:0>10,}'

'000002,345'

In [42]:
class Solution(object):
    def __init__ (self, array, queries):
        self.array = array
        self.queries = queries
    
    def solution (self):
        for i in range (len(self.queries)):
            col1 = self.queries[i][0]
            col2 = self.queries[i][1]
            for j in range (col1, col2+1):
                if (self.array[j] >= col1) and (self.array[j] <= col2):
                    self.array[j] += 1

        return self.array

In [44]:
array = [0,1,2,3,4]
queries = [[0,1], [1,2], [2,3]]

result = Solution(array, queries)

print(result.solution())

[1, 3, 4, 4, 4]

In [45]:
class Solution(object):
    def __init__(self, number):
        self.number = number


    def solution(self):
        if self.number < 0: 
            return 0
        
        sum = 0
        string = str(self.number)

        for i in range(len(string)):
            sum += int(string[i])
    
        return sum

In [48]:
number = 1234

result = Solution(number)
print(result.solution())

10